<h2 class="hText">2. Nach welchem Erfahrungswissen haben Sie konkret nachgeschau (Stichpunkte + Nummer Arbeitsschritt angeben)?</h2>
  <div class="form-group">
    <label for="textArea1"></label>
    <textarea class="form-control" rows="3" id="textArea1"></textarea>
  </div>
<h2>3. Wie haben Sie nach dem Erfahrungswissen recherchiert bzw. nachgeschlagen?</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-check">
        <input id="defaultCheck100" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck100">Austausch mit Kollegen</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck200" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck200">Auswertung 4-Augen-Prinzip</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck300" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck300">Abteilungsrunde</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck400" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck400">Arbeitsanweisungen</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck500" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck500">Maschinentagebücher</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck600" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck600">persönliches Laborbuch</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck700" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck700">"Bauchgefühl"</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input id="defaultCheck800" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck800">Präparationsguide</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck900" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck900">Wochenliste</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck1000" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck1000">Ordnerablage</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck1100" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck1100">Datenbank</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck1200" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck1200">Tägliche Absprachen</label>
      </div>
      <div class="form-check">
        <input id="defaultCheck1300" type="checkbox" class="form-check-input" value="">
        <label class="form-check-label" for="defaultCheck1300">sonstiger Weg:</label>
        <textarea class="form-control" rows="2" col="60" id="textArea"></textarea>
      </div>
    </div>
  </div>
</div>
<h2 class="hText">4. Was haben Sie gelernt? (Stichpunkte)?</h2>
  <div class="form-group">
    <label for="textArea2"></label>
    <textarea class="form-control" rows="3" id="textArea2"></textarea>
  </div>
  <button class="submitBtn btn btn-primary" type="submit" name="button">Abschicken</button>
</form>
</body>
</html>
