<h2 class="hText">2. Nach welchem Erfahrungswissen haben Sie konkret nachgeschau (Stichpunkte + Nummer Arbeitsschritt angeben)?</h2>
  <div class="form-group">
    <label for="textArea1"></label>
    <textarea name="erfahrungswissen" class="form-control" rows="3" id="textArea1"></textarea>
  </div>
<h2 class="hText">3. Was haben Sie gelernt? (Stichpunkte)?</h2>
  <div class="form-group">
    <label for="textArea2"></label>
    <textarea name="gelerntes" class="form-control" rows="3" id="textArea2"></textarea>
  </div>
  <button class="submitBtn btn btn-primary" type="submit" name="button">Weiter</button>
</form>
</body>
</html>
