<%- include("partials/header") -%>
<h1>a) Dokumentation der Arbeiten – konventionelle Metallografie</h1>
<form action="/", method="post">
  <input type="hidden" name="titel" value="a">
  <div class="form-group">
    <label>Datum:</label>
    <input name="datum" type="date" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Mitarbeiter/-in:</label>
    <input name="mitarbeiter" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Projektkennung:</label>
    <input name="projektkennung" type="text" class="form-control">
  </div>
  <h2>1. Bei welchen Arbeitsschritten haben Sie nach Erfahrungswissen nachgeschaut?</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input name="abs_makrofoto" id="defaultCheck1" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck1">1. Makrofoto</label>
        </div>
        <div class="form-check">
          <input name="abs_einbetten_vor_trennen" id="defaultCheck2" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck2">2. Einbetten vor Trennen</label>
        </div>
        <div class="form-check">
          <input name="abs_trennen" id="defaultCheck3" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck3">3. Trennen</label>
        </div>
        <div class="form-check">
          <input name="abs_einbetten" id="defaultCheck4" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck4">4. Einbetten</label>
        </div>
        <div class="form-check">
          <input name="abs_schleifen" id="defaultCheck5" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck5">5. Schleifen</label>
        </div>
        <div class="form-check">
          <input name="abs_polieren" id="defaultCheck6" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck6">6. Polieren</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input name="abs_endpolieren" id="defaultCheck7" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck7">7. Endpolieren</label>
        </div>
        <div class="form-check">
          <input name="abs_vibrationspolieren" id="defaultCheck8" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck8">8. Vibrationspolieren</label>
        </div>
        <div class="form-check">
          <input name="abs_ätzen" id="defaultCheck9" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck9">9. Ätzen</label>
        </div>
        <div class="form-check">
          <input name="abs_lichtmikroskopie" id="defaultCheck10" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck10">10. Lichtmikroskopie</label>
        </div>
        <div class="form-check">
          <input name="abs_härtemessung" id="defaultCheck11" type="checkbox" class="form-check-input" value="">
          <label class="form-check-label" for="defaultCheck11">11. Härtemessung</label>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") -%>
