body {
  text-align: left;
  margin: 1.5rem;
}

h2 {
  margin: 1.5rem 0 1.5rem 0;
}

table {
    word-wrap: break-word;
}

.hText {
  margin-bottom: 0;
}

.menu {
  text-align: left;
  width: 40%;
  margin: auto;
}

.backBtn {
  margin-bottom: 1rem;
}

.submitBtn {
  margin-top: 1rem;
}

.table{
  width: 90%;
  margin-bottom: 3rem;
}

.linebreak{
  width: 20%;
  overflow-wrap: break-word;
}

.selection {
  margin-bottom: 1rem;
}

.hidden_col {
  display: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.item:link{
  text-decoration: none;
}

.item {
  color: black;
}
