body {
  text-align: left;
  margin: 1.5rem;
}

h2 {
  margin: 1.5rem 0 1.5rem 0;
}

.hText {
  margin-bottom: 0;
}

.menu {
  text-align: left;
  width: 40%;
  margin: auto;
}

.backBtn {
  margin-bottom: 1rem;
}

.submitBtn {
  margin-top: 1rem;
}
